body {
	width: 800px;
	text-align: center;
	margin: 0 auto;

	font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.clock {
	width: 200px;
	height: 200px;
	border: 2px solid #000;
	border-radius: 100%;
	margin: 50px auto;
	padding: 25px;
	position: relative;
}

.clock-face {
	position: relative;
	width: 100%;
	height: 100%;
}
.hand {
	width: 50%;
	height: 2px;
	position: absolute;
	top: 50%;
	background: #000;
	transform: rotate(90deg);
	transform-origin: 100%;
	transition: all 1s;
	transition-timing-function: linear;
}

.hour-hand {
	width: 35%;
	left: 15%; /* offset width to center */
}

.second-hand {
	background: #f00;
}

.number {
	position: absolute;
	top: 46%;
	left: 47.4%;
}

.one {
	transform: rotate(300deg) translate(115px) rotate(-300deg);
}

.two {
	transform: rotate(330deg) translate(115px) rotate(-330deg);
}

.three {
	transform: translate(115px);
}

.four {
	transform: rotate(30deg) translate(115px) rotate(-30deg);
}

.five {
	transform: rotate(60deg) translate(115px) rotate(-60deg);
}

.six {
	transform: rotate(90deg) translate(115px) rotate(-90deg);
}

.seven {
	transform: rotate(120deg) translate(115px) rotate(-120deg);
}

.eight {
	transform: rotate(150deg) translate(115px) rotate(-150deg);
}

.nine {
	transform: rotate(180deg) translate(115px) rotate(-180deg);
}

.ten {
	transform: rotate(210deg) translate(115px) rotate(-210deg);
}

.eleven {
	transform: rotate(240deg) translate(115px) rotate(-240deg);
}

.twelve {
	transform: rotate(270deg) translate(115px) rotate(-270deg);
}