body {
    text-align: center;
    font-family: sans-serif;
}

kbd {
    display: block;
    font-size: 40px;
}

img {
    width: 30%;
}

.drums-container {
    min-width: 1000px;
    max-width: 1050px;
    margin: 0 auto;
}

.keys.left {
    margin-top: 50px;
    margin-left:50px;
    width: 30%;
    float: left;
}

.keys.right {
    margin-top: 50px;
    margin-right:50px;
    width: 30%;
    float: right;
}

.keys.middle {
    position: relative;
    bottom: 10px;
}

.key {
    display: inline-block;
    border: 4px solid black;
    border-radius: 50px;
    width: 150px;
    text-align: center;
    transition: all .07s;
}

.left .key {
    border-color: #f00
}

.middle .key {
    border-color: #0f0;
}

.right .key {
    border-color: #00f;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.playing {
    transform: scale(1.1);
    border-color: #000;
    box-shadow: 0 0 10px #000;
    background-color: #ff0;
}